.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------------- CSS for Question 3 --------------------------- */
/* .profileButton {
  margin-right: 10px;
} */

/* --------------------------- CSS for Question 4 --------------------------- */
/* .app {
  margin: 15% auto;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  border-radius: 7px;
}

button {
  cursor: pointer;
  width: 100px;
  padding: 5px;
  border-radius: 4px;
}

.homePage, .profileButton, .settingsButton {
  margin-right: 20px;
}

.dashboard {
  margin-right: 20px;
}

nav {
  text-align: right;
  margin: 20px 20px 0 0;
} */

/* --------------------------- CSS for Question 5 --------------------------- */
body {
  background-image: url('./Components/Question 5/fantasy-angel-redhead-wings.jpg');
  object-fit: fill;
}

*{
  color: white;
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav {
  text-align: right;
  font-size: large;
  font-weight: 700;
}

.product {
  margin: 20px;
}

.card {
  cursor: pointer;
  justify-content: left;
  background-color: rgba( 0, 0, 0, 0.3);
  width: 250px;
  text-align: center;
  padding: 80px 100px 80px 100px;
  margin: 40px 20px 20px 10px;
  border-radius: 7px;
}